admin#app
  widgets(:widgets="widgets")

script(type="text/x-template" id="widgets")
  .widgets widgets
    button(@click="add") add +
    widget(v-for="trans in translations" :widget="trans" )

script(type="text/x-template" id="widget")
  .widget
    p {{widgetName}}
    .lang(v-for="lang in langs" v-key="lang.key") {{lang.key}}

script(type="text/x-template" id="content-edit")
  .content-edit 
    .content-edit__lang
    .content-edit__list
    

div.json(style="display:none" data-json=page)

script(type="text/javascript" src="/cdn/system/front/lib/jquery.js")
script(type="text/javascript" src="/cdn/system/front/lib/vue.js")


