body, html, p, h1, h2, h3, h4, ul, li {
  padding: 0;
  margin: 0; }

* {
  position: relative; }

.page--home .content h1 {
  color: #175227;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px; }

.page--about .content h1 {
  color: #c9a823;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px; }

.widget-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .widget-header h1 {
    color: #41123D; }
  .widget-header img {
    margin: 10px 0; }

.widget-footer {
  background-color: #ccc;
  text-align: center;
  margin-top: auto; }

.widget-nav {
  display: flex;
  justify-content: center; }
  .widget-nav ul {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center; }
  .widget-nav li {
    display: block; }
  .widget-nav a {
    margin: 3px;
    color: #36A751;
    text-decoration: none;
    text-transform: capitalize; }
    .widget-nav a.active, .widget-nav a:hover {
      color: #2479e9; }

.none {
  display: none; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.inherit {
  position: static; }

.content {
  padding: 5px 10px; }

html, body, .page {
  height: 100%;
  margin: 0; }

body.dev .page {
  height: calc(100% - 33px); }

.page {
  display: flex;
  flex-direction: column; }
