body, html, p, h1, h2, h3, h4, ul, li {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box;
  position: relative; }

.line {
  height: 1px;
  background-color: darkgrey; }

.page__home * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.page__home .button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 8px 8px;
  width: 120px;
  text-align: left;
  font-size: 20px;
  color: white;
  display: block;
  border: 1px solid white;
  background-color: transparent; }

.page__home .blocks .block {
  height: calc( 100vh - 94px); }

.page__home .num-1 .frame {
  height: calc( 100% - 50px);
  margin: 0 50px 50px 50px;
  border: 1px solid #576067;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .page__home .num-1 .frame .slide {
    color: white;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px; }

.page__home .num-2 {
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
  padding: 30px; }
  .page__home .num-2 .blogs-text {
    margin: 20px; }
    .page__home .num-2 .blogs-text__title {
      margin-bottom: 20px;
      font-size: 30px;
      color: #323031;
      font-weight: 600;
      line-height: 30px; }
    .page__home .num-2 .blogs-text__content {
      font-size: 17px;
      color: #323031; }
  .page__home .num-2 .blogs-image {
    border: 2px solid #E1E1E4;
    margin: 20px 60px 60px 20px;
    width: 480px;
    margin-left: auto; }

.page__admin--translations button.save {
  width: 200px;
  height: 30px;
  margin: 30px auto !important;
  display: block;
  border: none;
  background-color: #298c29;
  color: #EDE8ED;
  transition: all 0.3s; }
  .page__admin--translations button.save:hover {
    background-color: #176517; }

.page__admin--translations .jsoneditor-menu {
  background-color: #41123D;
  border: none; }

.page__admin--translations .jsoneditor {
  border: none; }

.page__admin--translations .translation-result {
  margin-left: -11px;
  margin-right: -10px;
  margin-top: 10px;
  border-left: 1px solid #585858; }

.page__admin--translations select, .page__admin--translations button:not(:disabled) {
  cursor: pointer;
  margin-left: 10px; }

.page--about .content h1 {
  color: #c9a823;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px; }

.page.page__auth {
  background-color: white; }

.widget-auth .auth-form__capthca-image {
  margin: 5px 0; }

.widget-auth .auth-form__captcha {
  display: flex;
  height: 108px;
  margin-bottom: 10px; }
  .widget-auth .auth-form__captcha span {
    width: 100%; }
  .widget-auth .auth-form__captcha > input {
    align-self: center;
    margin-top: 6px; }
  .widget-auth .auth-form__captcha .auth-form__btn {
    width: 80px !important;
    margin: 0 auto;
    display: block; }

.widget-auth .auth-form__container {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  width: 320px; }

.widget-auth .auth-form label {
  display: flex;
  flex-direction: row;
  padding: 4px; }
  .widget-auth .auth-form label input {
    margin-left: auto;
    width: 150px;
    height: 20px; }

.widget-auth .auth-form__btn-resend {
  margin-left: auto !important;
  width: 100px;
  height: 20px; }

.widget-auth .auth-form__loader {
  text-align: center;
  padding: 4px;
  height: 24px;
  padding: 2px;
  border-bottom: 1px solid #ccc; }

.widget-auth .auth-form__btn {
  display: inline-block;
  border: none;
  background-color: #0f9d58 !important;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #fff; }

.widget-auth .auth-form__btn:not(.auth-form__btn-resend) {
  margin: 0 auto;
  width: 150px;
  height: 25px;
  line-height: 25px; }

.widget-header {
  height: 94px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  position: fixed;
  display: flex;
  align-items: center; }
  .widget-header ul {
    font-weight: 400;
    align-items: center;
    width: calc(100vw - 138px);
    display: flex; }
    .widget-header ul li {
      display: block;
      margin-left: 40px; }
      .widget-header ul li a {
        text-decoration: none;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white;
        font-size: 17px;
        line-height: 18px; }
      .widget-header ul li:first-child {
        margin-left: 100px; }
  .widget-header h1 {
    color: #41123D; }
  .widget-header img {
    margin-left: 55px;
    width: 138px;
    height: 63px; }

.widget-footer {
  background-color: #ccc;
  text-align: center;
  margin-top: auto; }

.widget-nav {
  display: flex;
  justify-content: center; }
  .widget-nav ul {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center; }
  .widget-nav li {
    display: block; }
  .widget-nav a {
    margin: 3px;
    color: #36A751;
    text-decoration: none;
    text-transform: capitalize; }
    .widget-nav a.active, .widget-nav a:hover {
      color: #2479e9; }

.admin-wrap {
  display: flex;
  height: 100%;
  background-color: #41123D; }
  .admin-wrap__content {
    width: 100%;
    background-color: #EDE8ED;
    border-radius: 5px 0 0 0; }
    .admin-wrap__content-block {
      padding: 10px; }
    .admin-wrap__content-nav-title {
      text-align: center;
      font-size: 20px; }
  .admin-wrap__nav {
    width: 120px;
    height: 100%;
    background-color: #41123D; }
    .admin-wrap__nav ul {
      height: 100%;
      padding-left: 10px;
      flex-direction: column;
      display: flex; }
      .admin-wrap__nav ul li {
        padding: 5px; }
      .admin-wrap__nav ul a {
        color: #EDE8ED;
        text-decoration: none;
        text-transform: capitalize; }
        .admin-wrap__nav ul a.active, .admin-wrap__nav ul a:hover {
          color: #F8B955; }

.none {
  display: none; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.inherit {
  position: static; }

.content {
  margin-top: 94px; }

html, body, .page {
  margin: 0; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.page {
  background: #161616;
  flex: 1; }
