
.widget-auth.none
    form 
        label(for="") login
            input(type="text")
        label(for="") password
            input(type="password")
    .script(type="rosa/x-template" name="modal-signup-content")
        .register-form register form6
         

