.widget-header.columns.is-gapless
    include modal.pug
    .column.widget-header__left
        .columns.widget-header__head.card
            .column.widget-header__logo
                a(href=url("home"))
                    img(src="/cdn/static/images/logo.png")
            if(!reg)
                h1.column.widget-header__title Онлайн-Университет Новейших Психотехнологий
        include nav.pug
    include auth.pug