.widget-header
    +static("image","logo","100px")
    ul
        li
            +getLink("home")(title="ГОЛОВНА")
        li
            +getLink("about")(title="ПРО НАС")
        li
            +getLink("about")(title="ПОСЛУГИ")
        li
            +getLink("about")(title="КОНТАКТИ")