.widget-header
    a(href="#page-1")
        +static("image","logo","100px")
    ul
        li
            a(href="#page-1") ГОЛОВНА
        li
            a(href="#page-2") ПРО НАС
        li
            a(href="#page-3") ПОСЛУГИ
        li
            a(href="#page-15") КОНТАКТИ