nav.widget-nav.tabs.is-centered
    if(!reg)
        ul
            li()
                a() О проекте
            li
                a(href="") Польза проекта
            li
                a(href="") Чему мы обучаєм?
            li
                a(href="") Гарантии качества
    else
        ul
            li()
                a( ) О проекте
            li()
                a( ) Маркет знаний
            li
                a(href="") Дерево знаний
            li
                a(href="") Личний кабинет
            li
                a(href="") Отзывы