@import "sass/index";

.none {
    display: none;
}
.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}
.inherit {
    position: static;
}

html, body, .page { margin:0; }
body {
  min-height: 100vh;
  display:flex; 
  flex-direction:column;
}
.page {
  flex: 1;
}
 
