block content
    include /widgets/nav
    .content
        h1 About page
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, dolorum. Cum aliquam labore tempora voluptate culpa nisi rerum aliquid, minima, sapiente officiis molestias magnam omnis fugit ad facere reprehenderit accusantium.