include /widgets/header
.content
    h1 Home page
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis soluta accusantium quasi, quia quibusdam mollitia, omnis cupiditate iusto natus totam rerum excepturi amet accusamus, aut recusandae saepe autem perspiciatis fugit?
include /widgets/footer