include /widgets/header
.content
    h1 O проекте
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit illum sunt tenetur, odio nulla debitis ut animi quibusdam nobis? Cum similique corrupti delectus iste deserunt laboriosam, ab officia placeat ipsa?
include /widgets/footer