block header
    include /widgets/header
block content
    .content
        .blocks
            .block.num-1
                .frame
                    .slide ЗБУДУЙ СВОЮ МРIЮ
                    button.button про нас
                .numbers
            .block.num-2
                .blogs-text
                    .blogs-text__title
                        | ВIТАЄМО В 
                        span ОРЛАН
                    .blogs-text__content Ми Iнноваційна...
                .blogs-image
                    +static("image","example")