if (user.role === "guest")
    .fr-auth
        .sign(class="sign-in")
            div( rosa-auth="signin" rosa-auth:errors=fr.auth.signin.errors )
            .sign__form(action="#")
                div( rosa-auth="signin:login" rosa-auth:message=fr.auth.signin.login )
                input(id="signininputlogin" rosa-auth="signin:login")  
                label(for="signininputlogin")=fr.auth.signin.login.label
                div( rosa-auth="signin:pass" rosa-auth:message=fr.auth.signin.pass )
                input(id="signininputpass" type="password" rosa-auth="signin:pass")
                label(for="signininputpass")=fr.auth.signin.pass.label
                div
                    span
                        //- a(href="")=fr.auth.signin.reg.linkLabel
                        span  | 
                        //- a(href="")=fr.auth.signin.pass.forgot
                    button(rosa-auth="signin:request")=fr.auth.signin.button.label
        .sign(class="sign-up")
            div( rosa-auth="signup" rosa-auth:errors=fr.auth.signup.errors )
            .sign__form(action="#")
                label login:
                    input(rosa-auth="signup:login")
                    div( rosa-auth="signup:login" rosa-auth:message=fr.auth.signup.login )
                label password:
                    input(type="password" rosa-auth="signup:pass")
                    div( rosa-auth="signup:pass" rosa-auth:message=fr.auth.signup.pass )
                button(rosa-auth="signup:request") sign up
else
    button(rosa-auth="action:signout") sign out
    
style.
    .fr-auth {
        height: 104px; 
        width: 255px;
    }

    .fr-auth label {
        display: block;
    }
